version: '3.9'

services:
  mongo:
    image: mongo:7
    restart: always
    volumes:
      - mongo-data:/data/db

  api:
    build: ./backend
    environment:
      - MONGO_URL=mongodb://mongo:27017/learnato_forum
      - PORT=4000
      - ORIGIN=*
    depends_on:
      - mongo
    ports:
      - "4000:4000"

  web:
    build: ./frontend
    environment:
      - VITE_API_URL=http://api:4000
    depends_on:
      - api
    ports:
      - "80:80"

volumes:
  mongo-data:
